.index {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
  padding-bottom: 68px;
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

