.index {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
  .container {
    padding-bottom: 8px;
    .systemMessage {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      color: var(--gray-3);
      font-size: 12px;
    }

    .message {
      margin: 14px 12px;
    }

    .footerBar {
      display: flex;
      align-items: center;
      font-size: 12px;
      max-width: 100%;
      overflow: hidden;
      gap: 12px;
      margin: 8px 12px;
      margin-top: -6px;
    }
  }
}

.dark {
  background: var(--page-background);
}

