.index {
  padding: 16px;
  border-radius: 12px;
  width: 400px;
  background: var(--page-background);
  border: 1px solid var(--gray-1);
  display: flex;
  flex-direction: column;
  gap: 12px;

  .input {
    margin: 12px 0;
  }

  .title {
    font-size: 18px;
  }

  .actions {
    display: flex;
    align-items: center;
    > * {
      flex: 1;
    }
    .submit {
      margin-left: 12px;
    }
  }
}

