.index {
  display: flex;

  .bubble {
    max-width: 100%;
    border-radius: 12px;
    padding: 0 16px;
    box-shadow: var(--shadow-1-down);
    word-break: break-word;
  }
}

.chatgpt {
  .bubble {
    background: #fff;
    color: var(--gray-8);
  }
}

.dark {
  .bubble {
    background: rgba($color: #fff, $alpha: 0.08);
  }
}

.user {
  .bubble {
    background: linear-gradient(
      to bottom right,
      var(--color-primary) 66%,
      #40a9ff
    );
    color: rgba($color: #fff, $alpha: 0.96);
  }
}

