.index {
  display: flex;

  .bubble {
    max-width: 100%;
    border-radius: 12px;
    padding: 0 16px;
    box-shadow: var(--shadow-1-down);
    word-break: break-word;
    p {
      margin: 8px 0;
      line-height: 1.8;
    }
  }
}

.chatgpt {
  .bubble {
    background: #fff;
    color: var(--gray-8);
  }
}

.dark {
  .bubble {
    background: rgba($color: #fff, $alpha: 0.08);
  }
}

.user {
  .bubble {
    background: linear-gradient(to right, #40a9ff 8%, var(--color-primary));
    color: rgba($color: #fff, $alpha: 0.96);
  }
}

