* {
  box-sizing: border-box;
  &::-webkit-scrollbar-track-piece {
    background-color: var(--scrollbar-track-piece--background-color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb--background-color);
    border-color: var(--scrollbar-thumb--border-color);
    &:active,
    &:hover {
      background-color: var(--scrollbar-thumb-active--background-color);
    }
  }
}

.scrollbar {
  background: var(--scrollbar-thumb--background-color);
  border-radius: 5px;
  &:active,
  &:hover {
    background-color: var(--scrollbar-thumb-active--background-color);
  }
}

textarea {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  color: var(--gray-8);
  font-family: inherit;
}

body,
html {
  padding: 0;
  margin: 0;
  color: var(--gray-8);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.szh-menu-container--theme-dark {
  .szh-menu {
    background: #23262c;
    color: rgba($color: #fff, $alpha: 0.8);
  }
  .szh-menu__item--hover {
    background: rgba($color: #fff, $alpha: 0.06);
  }
}

