:root {
  --color-primary: #1890ff;
  --color-primary-rgb: 24, 144, 255;
  --shadow-1-down: 0px 3px 16px 0px rgba(0, 0, 0, 0.03);

  --base-color: #fff;

  /* 灰度 */
  --gray-0: rgba(0, 0, 0, 0.04);
  --gray-1: rgba(0, 0, 0, 0.15);
  --gray-2: rgba(0, 0, 0, 0.25);
  --gray-3: rgba(0, 0, 0, 0.35);
  --gray-4: rgba(0, 0, 0, 0.45);
  --gray-5: rgba(0, 0, 0, 0.55);
  --gray-6: rgba(0, 0, 0, 0.65);
  --gray-7: rgba(0, 0, 0, 0.75);
  --gray-8: rgba(0, 0, 0, 0.85);
  --gray-9: rgba(0, 0, 0, 0.95);
  --gray-x: rgba(0, 0, 0);

  --scrollbar-thumb--border-color: transparent;
  --scrollbar-thumb--background-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-active--background-color: rgba(0, 0, 0, 0.3);
  --scrollbar-track-piece--background-color: transparent;

  --page-background: rgba(0, 0, 0, 0.04);
  --nav-bar-background: #fff;
}

.dartTheme {
  --color-primary: #177ddc;
  --base-color: #000;

  --gray-0: rgba(255, 255, 255, 0.06);
  --gray-1: rgba(255, 255, 255, 0.15);
  --gray-2: rgba(255, 255, 255, 0.25);
  --gray-3: rgba(255, 255, 255, 0.35);
  --gray-4: rgba(255, 255, 255, 0.45);
  --gray-5: rgba(255, 255, 255, 0.55);
  --gray-6: rgba(255, 255, 255, 0.65);
  --gray-7: rgba(255, 255, 255, 0.75);
  --gray-8: rgba(255, 255, 255, 0.85);
  --gray-9: rgba(255, 255, 255, 0.85);
  --gray-x: rgba(255, 255, 255);

  --scrollbar-thumb--background-color: rgba(255, 255, 255, 0.1);
  --scrollbar-thumb-active--background-color: rgba(255, 255, 255, 0.26);

  --page-background: #1e1e1e;
  --nav-bar-background: #252526;
}

.unselectable {
  user-select: none;
}

