.index {
  p {
    margin: 8px 0;
    line-height: 1.8;
  }

  img {
    max-width: 100%;
  }

  .codeBox {
    position: relative;
    --scrollbar-thumb--background-color: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb-active--background-color: rgba(255, 255, 255, 0.5);
    .copyBtn {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 8px;
      border: 1px solid rgba($color: #fff, $alpha: 0.33);
      background: rgba($color: #fff, $alpha: 0.18);
      color: rgba($color: #fff, $alpha: 0.66);
      opacity: 0;
      line-height: 1;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s;
    }
    &:hover {
      .copyBtn {
        opacity: 1;
      }
    }
  }

  .inlineCode,
  a {
    font-size: 12px;
    padding: 2px 4px;
    background: #f6f7f9;
    color: #d56161;
  }

  a {
    color: #096dd9;
    text-decoration: none;
  }

  ul,
  ol {
    padding-left: 14px;
    margin: 8px 0;
    li {
      margin: 8px 0;
      line-height: 1.5;
    }
  }

  blockquote {
    background: var(--gray-0);
    border-left: 4px solid var(--gray-2);
    margin: 8px 0;
    padding: 1px 8px;
  }
}

.dark {
  .inlineCode,
  a {
    background: rgba($color: #fff, $alpha: 0.08);
    color: #ff7875;
  }
  a {
    color: #40a9ff;
  }
  .bubble {
    background: rgba($color: #fff, $alpha: 0.08);
  }
}

