.index {
  width: 80vw;
  max-width: 600px;
  max-height: 80vh;
  background: var(--popup-background);
  border: 1px solid var(--gray-1);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  margin: 28px auto;
  --header-size: 46px;

  header {
    display: flex;
    height: var(--header-size);
    border-bottom: 1px solid var(--gray-1);
    .icon {
      width: var(--header-size);
      height: var(--header-size);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
    input {
      flex: 1;
      font-size: 16px;
      border: none;
      outline: none;
      background: transparent;
      color: var(--gray-8);
    }
  }

  main {
    flex: 1;
    overflow-y: auto;
    padding: 6px;
    .item {
      padding: 8px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      &:hover {
        background: var(--gray-0);
      }
      .name {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
      }
      .text {
        font-size: 13px;
        color: var(--gray-5);
        padding-top: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .notFound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 48px;
      color: var(--gray-3);
    }
  }

  footer {
  }
}

