.index {
  padding: 0 16px;
  border-radius: 12px;
  min-width: 200px;
  background: var(--page-background);
  border: 1px solid var(--gray-1);

  > * {
    margin: 12px 0;
  }

  .title {
    font-size: 18px;
  }

  .version {
    color: var(--color-primary);
    font-weight: bold;
  }

  .description {
    font-size: 13px;
    line-height: 1.6;
  }

  .tip {
    background: rgba($color: #000000, $alpha: 0.03);
  }

  .actions {
    display: flex;
    align-items: center;
    > * {
      flex: 1;
    }
    .submit {
      margin-left: 12px;
    }
  }
}

