@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1680371457734'); /* IE9*/
  src: url('icon.eot?t=1680371457734#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1680371457734") format("woff2"),
  url("icon.woff?t=1680371457734") format("woff"),
  url('icon.ttf?t=1680371457734') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1680371457734#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-about:before { content: "\ea1b"; }
.icon-chat:before { content: "\ea1c"; }
.icon-computer-line:before { content: "\ea1d"; }
.icon-delete:before { content: "\ea1e"; }
.icon-github:before { content: "\ea1f"; }
.icon-menu:before { content: "\ea20"; }
.icon-moon-line:before { content: "\ea21"; }
.icon-robot:before { content: "\ea22"; }
.icon-setting:before { content: "\ea23"; }
.icon-stop-fill:before { content: "\ea24"; }
.icon-sun-line:before { content: "\ea25"; }
.icon-template:before { content: "\ea26"; }
.icon-translation:before { content: "\ea27"; }
